<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
       <h1> <div class="card-header">Agregar Revista</div></h1>
        <div class="card-body">
          <label> Titulo de Revista: </label>
          <input type="text" class="form-control mb-2" placeholder="Titulo" #userEmail required autofocus>
          <br>
          <label> Numero De Revista: </label>
          <input type="text" class="form-control mb-2" placeholder="Numero De Revista" #userEmail required autofocus>
          <br>
          <label> Archivo PDF: </label> <br>
          <input id="file-unpload" class="inputFile" type="file" required>
          <i class="fas fa-file-pdf"></i>
          <br>
          <br>
          <label> Imagen De Portada: </label> <br>
          <input id="file-unpload" class="inputFile" type="file" required>
          <i class="fas fa-file-image"></i>
          <br>
          <br>
          <button class ="btn btn-primary" type="submit">
            <i class ="fas fa-save"></i>GUARDAR
          
          </button>
          <br>
          <br>
          <button class=" btn-primary" style="background: #ffffff" type="submit" onclick="history.back()" >
          <i class="fas fa-arrow-alt-circle-left"></i>
        </button>
        </div>
      </div>
    </div>
  </div>
</div>