<section id="author">
    <div class="container">
      <div class="section-title">
        <h2>Numeros Anteriores</h2>
        <p>Conoce nuestros nùmeros anteriores</p>
        <div class="row">
          <div class="col-lg-4">
                <div class="pricing-table">
                  <h4>Numero 49</h4>
                  <p><a class="nav-link active" [routerLink]="['/Numero49']" routerLinkActive="router-link-active"  ><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/Portadas%2F49.jpg?alt=media&token=072b4030-cad5-42eb-b8af-ea64ebd05172" width="525" height="675" alt="TecnoCultura49" class="img-fluid">Numero 49</a></p>
                </div>
             </div>
          <div class="col-lg-4">
               <div class="pricing-table">
                 <h4>Numero 48</h4>
                 <p><a class="nav-link active"href="48.html" ><img src="assets/PortadasTecno/48.jpg" width="525" height="675" alt="TecnoCultura48" class="img-fluid"></a></p>
               </div>
            </div>
            