

<div class="card mt-5" >
  <div class="card-body">
      <form formGroup="editPostForm" (ngSubmit)="editPost(editPostForm.value)">
        <input type="hidden" name="id" #id= "ngModel" [(ngModel)]="postSvc.selectedRevista.id" *ngIf="postSvc.selectedRevista.id==id">
          <h1 class="titulo">AGREGAR NUEVA REVISTA</h1>

        <div class="etiqueta">
          <label>Número de Revista:</label>
        </div>
          <div class="form-group">
              <input 
              type="text"
              class="form-control"
              name="numeroR"
              #nombre="ngModel"
              [(ngModel)]="postSvc.selectedRevista.numeroR"
              placeholder="Escribe número de revista"
              />
          </div>
<div class="etiqueta">
  <label>Selecciona Portada:</label>
</div>
          <div class="form-group">
              <input
              type="file"
              class="form-control"
              name="imagenR"
              (change)="handleImage($event)"
              #nombre="ngModel"
              [(ngModel)]="postSvc.selectedRevista.imagenR"
              />
          </div>

         
       
<div class="form-group">

  <button class="class btn btn-primary" type="submit"  >
      <i class="fas fa-plus-circle"></i>Agregar Revista
  
  </button>


</div>
      </form>
  </div>
</div>
 


