<!-----
<div class="new-post-container">
    <form formGroup="editPostForm" (ngSubmit)="editPost(editPostForm.value)">
      <mat-form-field>
        <mat-label>Numero De Revista</mat-label>
        <input matInput placeholder="Numero de revista" formControlName="numeroR">
      </mat-form-field>
      <div class="container-input-file">
        <label class="custom-file">
          <input type="file" formControlName="imagenR" (change)="handleImage($event)" />
          <mat-icon>cloud_upload</mat-icon><span>CHOOSE IMAGE</span>
        </label>
      </div>
      <div class="container-button">
        <input type="submit" class="mat-flat-button" value="Save" [mat-dialog-close]="true">
      </div>
    </form>
  </div>
-->

<div class="card mt-5" >
  <div class="card-body">
      <form formGroup="editPostForm" (ngSubmit)="editPost(editPostForm.value)">
        <input type="hidden" name="id" #id= "ngModel" [(ngModel)]="postSvc.selectedRevista.id" *ngIf="postSvc.selectedRevista.id==id">
          <h1 class="titulo">AGREGAR NUEVA REVISTA</h1>

        <div class="etiqueta">
          <label>Numero de Revista</label>
        </div>
          <div class="form-group">
              <input 
              type="text"
              class="form-control"
              name="numeroR"
              #nombre="ngModel"
              [(ngModel)]="postSvc.selectedRevista.numeroR"
              placeholder="Escribe numero de revista"
              />
          </div>
<div class="etiqueta">
  <label>Selecciona Portada</label>
</div>
          <div class="form-group">
              <input
              type="file"
              class="form-control"
              name="imagenR"
              (change)="handleImage($event)"
              #nombre="ngModel"
              [(ngModel)]="postSvc.selectedRevista.imagenR"
              />
          </div>

         
       
<div class="form-group">

  <button class="class btn btn-primary" type="submit"  >
      <i class="fas fa-plus-circle"></i>Agregar Revista
  
  </button>


</div>
      </form>
  </div>
</div>
 


